.social-media {
	&.large {
		text-align: center;
		a {
			font-size: 20px;
			color: $black;
			margin: 0 10px;
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				color: $color;
			}
		}
	}
}